<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#carouselExampleControls">TRIBUTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#links">LINKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery">GALLERY</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="first-section">
        <img src="{{ url_for('static', filename='images/life-of.jpg') }}">
    </div>

    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" id="tributes-container">
                <div class="card-wrapper container-sm d-flex  justify-content-around">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Card title 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Card title 2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Card title 3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex   justify-content-around">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Card title 4</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Card title 5</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                        <h5 class="card-title">Card title 6</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- <div class="add-tributes">
        <form action='' id="form-container">
            <label for="message">Name:</label>
            <input type="text" id="name" placeholder="Enter Name">
            
            <label for="message">Message:</label>
            <textarea id="message" placeholder="Write your tribute here..."></textarea>

            <label for="image-upload">Upload Picture:</label>
            <input type="file" id="image-upload" accept="image/*">
            
            <button onclick="displayMessage()">Submit Tribute</button>
        </form>
    </div> -->

    <div class="add-tributes">
        <form action='' id="form-container">
            <label for="message">Name:</label>
            <input type="text" id="name" placeholder="Enter Name">
            
            <label for="message">Message:</label>
            <textarea id="message" placeholder="Write your tribute here..."></textarea>

            <label for="image-upload">Upload Picture:</label>
            <input type="file" id="image-upload" accept="image/*">
            
            <button type="submit" value="submit" id="submit">Submit Tribute</button>
        </form>
    </div>

    <div class="link-section" id="links">
        <div class="banner">
            <p class="banner">LINKS</p>
        </div>

        <div class="all-links">
            <div class="link">
                <img src="{{ url_for('static', filename='images/life-of-2.jpg') }}">
                <div class="link-text">
                    <p>Some text describing the link goes here</p>
                </div>
            </div>

            <div class="link">
                <img src="{{ url_for('static', filename='images/life-of-2.jpg') }}">
                <div class="link-text">
                    <p>Some text describing the link goes here</p>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery-section" id="gallery">
        <div class="banner">
            <p class="banner">Gallery</p>
        </div>

        <div class="gallery-container">
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/gallery-image-1.jpg') }}">
                <div class="gallery-item-text">
                    <p>This is text describing the image</p>
                </div>
            </div>

            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/gallery-image-2.jpg') }}">
                <div class="gallery-item-text">
                    <p>This is text describing the image</p>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-section">
        <div class="quote-container">
            <h3>Pastor Wong Quotes</h3>

            <div class="quote-text-container">
                <div class="quote-text">
                    <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab nostrum deleniti facilis dolore cupiditate esse quidem beatae adipisci facere! Dignissimos mollitia expedita est tempore. Quo dignissimos deleniti laborum impedit ullam.
                </div>

                <div class="quote-text">
                    <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab nostrum deleniti facilis dolore cupiditate esse quidem beatae adipisci facere! Dignissimos mollitia expedita est tempore. Quo dignissimos deleniti laborum impedit ullam.
                </div>

                <div class="quote-text">
                    <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab nostrum deleniti facilis dolore cupiditate esse quidem beatae adipisci facere! Dignissimos mollitia expedita est tempore. Quo dignissimos deleniti laborum impedit ullam.
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-container">
            <h3>Tri-City Tabernacle</h3>

            <div class="footer-box-container">
                <div class="footer-box" id="location">
                    <div class="footer-box-spacer">
                        <h5>Location</h5>
                        <p>123 Anywhere St., Any City ST 12345</p>
                        <p>1123-456-7890</p>
                        <p>hello@reallygreatsite.com</p>
                    </div>
                </div>

                <div class="footer-box" id="office-hours">
                    <div class="footer-box-spacer">
                        <h5>Location</h5>
                        <p>123 Anywhere St., Any City ST 12345</p>
                        <p>1123-456-7890</p>
                        <p>hello@reallygreatsite.com</p>
                    </div>
                </div>

                <div class="footer-box" id="get-social">
                    <div class="footer-box-spacer">
                        <h5>Location</h5>
                        <p>123 Anywhere St., Any City ST 12345</p>
                        <p>1123-456-7890</p>
                        <p>hello@reallygreatsite.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.5.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.5.0/firebase-analytics.js";
        import { getDatabase, ref, get, set, child } from 'https://www.gstatic.com/firebasejs/11.5.0/firebase-database.js';
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
        apiKey: "AIzaSyBRr7eES1QDIVqkVAx4Q5br-zBjGJReSVU",
        authDomain: "funeral-tributes-34a75.firebaseapp.com",
        databaseURL: "https://funeral-tributes-34a75-default-rtdb.firebaseio.com",
        projectId: "funeral-tributes-34a75",
        storageBucket: "funeral-tributes-34a75.firebasestorage.app",
        messagingSenderId: "146925072685",
        appId: "1:146925072685:web:3394af135b129303a463a4",
        measurementId: "G-ZFQP1KFPTC"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const db = getDatabase(app)
        const analytics = getAnalytics(app);

        document.getElementById("submit").addEventListener('click', function(e){
            set(ref(db, 'tribute/' + document.getElementById("name").value), {

                username: document.getElementById("name").value,
                message: document.getElementById("message").value
            })
        })
    </script> -->

    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>

